<%- include('partials/header') %>

<div class="container mt-5" style="max-width: 400px;">
  <h1 class="title">Registrera</h1>

  <% if (error) { %>
    <div class="notification is-danger"><%= error %></div>
  <% } %>

  <form action="/auth/register" method="POST" class="box">
    <div class="field">
      <label class="label">Användarnamn</label>
      <div class="control">
        <input class="input" type="text" name="username" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Lösenord</label>
      <div class="control">
        <input class="input" type="password" name="password" required>
      </div>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" name="isAdmin">
        Registrera som admin
      </label>
    </div>

    <div class="field">
      <button class="button is-success is-fullwidth">Registrera</button>
    </div>
  </form>
</div>

<%- include('partials/footer') %>
